.App {
  font-family: sans-serif;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputLayout {
  padding: 1rem;
}

.inputGroup {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  line-height: 1.42857143;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  white-space: nowrap;
  border: 1px solid #ccc;
}
